<div id="{{this._id}}" class="square {{this.color}}">
  <div class="note">
    <button class="btn btn-danger float-xs-right"><span class="fa fa-trash" aria-hidden="true"></span></button>
    <h4 style="color: white;" >{{this.text}}</h4>
    <h4 style="color: white; font-family: 'Shadows Into Light', cursive;">{{this.description}}</h4>
  </div>
</div>
