

<div class="container">
  <h2 class="text-xs-center">{{title}}</h2>
</div>

<div class="container">
  {{> add}}
</div>


<div class="container">
    <ul>
      {{#each notes}}
        <div class="container">
          <li id="{{_id}}" class="col s4 m4">
            Note: {{text}}
            Description: {{description}}
            <button class="btn btn-danger pull-right"><span class="fa fa-trash" aria-hidden="true"></span></button>
          </li>
        </div>
      {{/each}}
    </ul>
</div>
