
<div class="container" style="margin-top: 2%;">
  <h2 id="apptitle" class="text-xs-center display-1">{{title}}</h2>
</div>

<div class="container">
  {{> add}}
</div>


<section id="unordered">
    {{#each notes}}
      {{> note this}}
  {{/each}}
</section>
