
<div class="container">
  <h2 id="apptitle"class="text-xs-center">{{title}}</h2>
</div>

<div class="container">
  {{> add}}
</div>


<div class="container">
    <ul id="unordered">
      {{#each notes}}
        {{> note this}}
      {{/each}}
    </ul>
</div>
